<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>bibliopal</display-name>

  <!-- Declare the existence of a servlet. -->
  <servlet>
    <servlet-name>RecommenderServlet</servlet-name>
    <servlet-class>com.madhuri.bibliopal.servlet.RecommenderServlet</servlet-class>
  </servlet>

  <!-- Map URLs to that servlet. -->
  <servlet-mapping>
    <servlet-name>RecommenderServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
</web-app>